* {
  box-sizing: border-box;
  padding: 0;
  /* margin: 0; */
}

html {
  font-size: 16px;
}

body {
  width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 600px 500px;
}

main {
  padding: 24px;
  border: 1px solid black;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

h1 {
  margin: 0;
  padding-left: 16px;
}

button.add-new-movie, button.discard-changes, button.save-movie {
  font-size: 1rem;
  width: 100px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 167, 0);
  color: white;
  border: none;
  border-radius: 6px;
  outline: none;
}

header button.add-new-movie span{
  margin-right: 4px;
}

.filter-section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.filter-section label {
  margin-right: 10px;
  font-size: 1.2rem;
}

.sort-button {
  width: 110px;
  height: 30px;
  font-size: 1rem;
  border-radius: 4px;
}

.to-watch-list, .movie-form ul {
  list-style: none;
}

.to-watch-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  height: min-content;
  overflow-wrap: break-word;
}

.to-watch-list > li:hover {
  background-color: rgb(233, 233, 233);
}

.to-watch-list li h3 {
  font-size: 1.5rem;
  margin: 0;
  width: 70%;
  
}

.check {
  display: block;
  margin-right: auto;
  margin-left: 20px;
}

.to-watch-list li div.rating {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.to-watch-list li div.rating span {
  color: rgb(255, 123, 0);
}

.sidebar {
  padding: 24px;
  border: 1px solid black;
  height: 100vh;
}

.sidebar h2 {
  width: auto;
  margin: 0 auto;
  overflow-wrap: break-word;
}

.movie-form ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px; 
  font-size: 1.5rem;
}

.movie-form li {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
}

.movie-form li input[id="is-watched"] {
  margin: 0;
  width: 30px;
}

.movie-form label {
  width: 150px;
  padding: 8px;
}

.movie-form input {
  font-size: 1rem;
  padding: 8px;
  height: 2rem;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

button.discard-changes {
  background-color: rgb(124, 32, 32);
}

